.logo {
  display: inline-block;
  margin-left: 3rem;
  font-size: xx-large;
  margin-top: 2rem;
  color: #2980b9;
  margin-right: 30vw;
}

.aside-page {
  display: inline-block;
  background-color: #34495e;
  height: 100vw;
  width: 35vh;
  padding: 3% 2% 0 2%;
}

.aside-page h2 {
  color: white;
  margin-top: 15px;
  margin-left: 5%;
  margin-bottom: 3%;
}

.new-note-button {
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;
  position: relative;
  color: white;
  background-color: #0f73b7;
  font-size: 16px;
  padding: 3vw;
  width: 100%;
}

.itemsList {
  list-style: none;
  display: block;
  margin-top: 15%;
}

.items {
  background-color: #2c3e50;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  color: white;
}


.items p {
    margin-top: 1rem;
    /* text-align: center; */
}